{% extends "base.html" %} {% block content %}
<body>
  <main class="containter">
    <div class="col s12 center-align">
      <div>
        <h1>Welcome to the Crafty Lass project manager!</h1>
        <img class="introimg"
          src="https://images.pexels.com/photos/1266139/pexels-photo-1266139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="needle and thread"
        />
        <div class="row">
            <div class="col s12 center-align">
                <ul>
                    <li> <a href="{{ url_for('tasks') }}" button type="submit" class="btn-large purple darken-4">Get started!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s10 center-align">
        <h2>
          The Crafty Lass page is designed to help you keep track of all those
          crafty projects you've started or pinned on Pinterest, help you
          remember where you're at, and what you started and when!
        </h2>
        
        </div>
        </div>
      </div>
    </div>
  </main>
</body>

{% endblock %}
