{% extends "base.html" %} {% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Current Projects</h3>

<div class="bannerone">
  <div class="row">
    <div class="col s12 center-align">
      <a href="{{ url_for('add_task') }}" class="btn-large purple darken-4">
        Add New Project <i class="fas fa-plus-square right"></i>
      </a>
    </div>
  </div>
</div>
<ul class="collapsible">
  {% for task in tasks|sort(attribute="due_date") %}
  <li>
    <div class="collapsible-header deep-purple-text text-darken-3">
      <i class="fas fa-caret-down"></i>
      <strong>{{ task.task_name }}</strong> : {{ task.due_date.strftime("%d %B,
      %Y") }} {% if task.is_urgent == True %}
      <i class="fas fa-gift deep-purple-text text-darken-3"></i>
      {% endif %}
    </div>
    <div class="collapsible-body">
      <strong>{{ task.category }}</strong>
      <p>{{ task.task_description }}</p>
      <p>
        <a
          href="{{ url_for('edit_task', task_id=task.id) }}"
          class="btn green accent-4"
          >Edit</a
        >
        <a
          href="{{ url_for('delete_task', task_id=task.id) }}"
          class="btn red accent-4"
          >Delete
        </a>
      </p>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="row">
  <!--first card-->
  <div class="column">
    <div class="card">
      <div class="card-image">
        <img src="./static/images/crochet2.jpg" />
        <span class="card-title">Crochet Inspiration</span>

        <div class="card-content">
          <h4>Crochet</h4>
          <p>Looking for pretty patterns for the annoying hook of yours? Have a look below</p>
        </div>
        <div class="card-action">
          <a href="https://www.pinterest.co.uk/search/pins/?q=crochet%20patterns&rs=typed" target="_blank">Search Crochet on Pinterest</a>
        </div>
      </div>
    </div>
  </div>
  <!--second card-->
  <div class="column">
    <div class="card">
      <div class="card-image">
        <img src="./static/images/knitting2.jpg" />
        <span class="card-title">Knitting Inspiration</span>

            <div class="card-content">
                <h4>Knitting</h4>
                <p>
                To stab wool and have it slide off the needles, in
                the hope to make a jumper
                </p>
            </div>
        <div class="card-action">
          <a href="https://www.ravelry.com/invitations" target="_blank"
            >Sign up for Knitting ideas on Raverly</a
          >
        </div>
        </div>
        </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <img src="./static/images/sewing3.jpg" />
              <span class="card-title">Sewing</span>

    
              <div class="card-content">
                    <h4>Sewing</h4>
                    <p>
                    You find those fancy pants of your dreams, then you make them yourself
                    </p>
              </div>
              <div class="card-action">
        <a href="https://www.pinterest.co.uk/search/pins/?q=easy%20sewing%20patterns&rs=typed" target="_blank">Search easy
            Sewing patterns on Pinterest</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <img src="./static/images/floral2.jpg" />
              <span class="card-title">Flowers</span>

            <div class="card-content">
                <h4>Flowers</h4>
                <p>
                Make dead flowers feel pretty again, for less effort than houseplants
                </p>
            </div>
            <div class="card-action">
        <a href="https://www.pinterest.co.uk/search/pins/?rs=ac&len=2&q=flower%20arrangements%20diy&eq=flower%20arr&etslf=6739"
            target="_blank">Search Floral on Pinterest</a>
            </div>

        </div>

        
        {% endblock %}
      </div>
    </div>
  </div>
</div>
