/** sticky footer from Materialize **/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e0f2f1;
    font-family: 'Raleway',

}

main {
    flex: 1 0 auto;
}

h1 {
    color: rgb(5, 65, 5);
}

/**card styling **/

card {
    background-color: rgb(124, 87, 124);
}

.brand-logo {
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.nav-wrapper {
    background-color: rgb(0, 128, 128);
}

.mobile-demo {
    background-color: #5a3261;
}

h3 {
    color: #311b92;
}